apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {redacted}
    server: https://kubernetes.docker.internal:6443
  name: docker-desktop
- cluster:
    certificate-authority-data: {redacted}
    server: https://aks-contos-rg-contoso-video-373753-7c8d430b.hcp.eastus.azmk8s.io:443
  name: aks-contoso-video
contexts:
- context:
    cluster: docker-desktop
    user: docker-desktop
  name: docker-desktop
- context:
    cluster: aks-contoso-video
    user: clusterUser_rg-contoso-video_aks-contoso-video
  name: aks-contoso-video
current-context: aks-contoso-video
kind: Config
preferences: {}
users:
- name: docker-desktop
  user:
    client-certificate-data: {redacted}
    client-key-data: {redacted}
- name: clusterUser_rg-contoso-video_aks-contoso-video
  user:
    client-certificate-data: {redacted}
    client-key-data: {redacted}
    token: {redacted}
